################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DoctorWhoAGStringsImporter/obj
/DoctorWhoAGStringsImporter/bin/Release
/.vs/dwag-strings-importer
